/* Header Styles */
.header{
    background-image: url(../images/banner/banner3.png);
    width: 1600px;
    height: 808px;
    background-size: contain;
    
   
}
.header-container{
    
    text-align: right;
    margin-top: 0px;
    padding: 216px 230px 364px 845px;

}
.header-title{
    color: #FFFFFF;
    width: 525px;
height: 228px;
left: 845px;
top: 216px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 76px;
}
.header-body{
    width: 525px;
height: 90px;
left: 876px;
top: 468px; 

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
}

.header-btn{
    width: 109px;
height: 23px;
left: 1236px;
top: 599px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
color: #005FAC;
/* padding: 20px 25px 20px 25px; */
padding-bottom:  25px;
}
/*Main Styles */
.tik{
    width: 24px;
height: 24px;
left: 862px;
top: 1417px;
}
.mid{
    display: flex;
    justify-content: space-evenly;
}
.mid-to{
     width: 416px;
height: 400px;
left: 862px;
top: 1178px;  
/* margin-top: 370px;
margin-left: 862px;
margin-right: 322px; */
margin-top:  370px ;

}
.mam{
    margin-top: 126px;
}
.mid-title{
    width: 288px;
height: 94px;
left: 862px;
top: 1178px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
color: #151414;
}
.mid-body{
   

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
}

.ic{
   
width: 92.96px;
height: 92.96px;
left: 294px;
top: 1895px;
}
.plan{
    text-align: center;
}
.boxs{
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    margin-bottom: 130px;
    
}
.plan-title{
    margin-top: 135px;
    margin-bottom: 50px;
    font-family: 'Work Sans';
font-style: normal;


color: #151414;

}
.plan-body{
    font-family: 'Work Sans';
font-style: normal;


color: #737272;
}
.boxs h3{
    font-family: 'Work Sans';
font-style: normal;


color: #151414;
}
/* .img-gradient{
    width: 1140px;
height: 300px;
left: 230px;
top: 2221.96px;
margin-left: 230px;

border-radius: 8px;
margin-bottom: 130px;

} */
.boxing{
    margin-left: 230px;
    margin-bottom: 130px;
    border-radius: 8px;
    /* background-image: url(../images/watch.png); */
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%),url(../images/watch.png);
    background-repeat: no-repeat;
    width: 1140px;
height: 300px;
left: 230px;
top: 2221.96px;

}
.boxing h3{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
padding-top: 59px;
padding-left: 64px;
padding-right: 617px;
/* padding-bottom: 147px; */


color: #FFFFFF;
}
.boxbtn{
    margin-left: 64px;
    width: 160px;
height: 64px;
left: 294px;
top: 2398.96px;
margin-bottom: 59px;
background: #FFFFFF;
border-radius: 5px;
font-family: 'Work Sans';
font-style: normal;


color: #005FAC;
   
}
/* background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.90) 100%), 
                url(/path/to/your/image.jpg) */
.bonus{
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%),url(../images/bonus.png);
    width: 1140px;
    height: 300px;
    left: 230px;
    top: 2221.96px;
    margin-left: 230px;
    margin-bottom: 130px;
    border-radius: 8px;
    
    

}

.bonus h2{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    padding-top: 30px;
    padding-left: 64px;
    padding-right: 617px;
    
    
    
    color: #FFFFFF;

}
.bonusbtn{
    margin-left: 64px;
    width: 160px;
height: 64px;
left: 294px;
top: 2398.96px;
margin-bottom: 70px;
background: #FFFFFF;
border-radius: 5px;
font-family: 'Work Sans';
font-style: normal;
color: green;

}